*.mp4 filter=lfs diff=lfs merge=lfs -text
Rising/Assets/Skyboxes/AllSky_Asset/Anime/Anime[[:space:]]Day/Anime[[:space:]]Day[[:space:]]Equirect.png filter=lfs diff=lfs merge=lfs -text
Rising/Assets/Skyboxes/AllSky_Asset/Anime/Anime[[:space:]]Night/Anime[[:space:]]Night[[:space:]]Equirect.png filter=lfs diff=lfs merge=lfs -text
C:/Users/aleng/Documents/GitHub/Projekt_Bac_Media_IT/Rising/Assets/UI_Elements/RobotIntro.mp4 filter=lfs diff=lfs merge=lfs -text
C:/Users/aleng/Documents/GitHub/Projekt_Bac_Media_IT/Rising/Assets/UI_Elements/RobotVideo.mp4 filter=lfs diff=lfs merge=lfs -text
