*.mp4 filter=lfs diff=lfs merge=lfs -text
Rising/Assets/Skyboxes/AllSky_Asset/Anime/Anime[[:space:]]Day/Anime[[:space:]]Day[[:space:]]Equirect.png filter=lfs diff=lfs merge=lfs -text
Rising/Assets/Skyboxes/AllSky_Asset/Anime/Anime[[:space:]]Night/Anime[[:space:]]Night[[:space:]]Equirect.png filter=lfs diff=lfs merge=lfs -text
